body {
  background-image: url("nahil-naseer-xljtGZ2-P3Y-unsplash.jpg");
}

img {
  justify-content: center;
  padding: 0 10px 0 10px;
}

.card {
  margin: 20px;
  backdrop-filter: blur(4px); 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 23px; 
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 25px 60px 25px 60px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-title {
  border: 1px solid lightblue;
  border-radius: 50px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: darkslategray;
}

.card-text {
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

.card-availability {
  text-align: center;
  background-color: darkgrey;
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.list-group-item p {
  font-size: 13px;
  margin: 0 0 0 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.spec-footer {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.pricing-header, .spec-header {
  text-decoration: underline;
  text-decoration-style: dotted;
  font-family: 'Playfair Display', serif;
  color: darkslategray;
  padding-bottom: 10px;
}

.quantity-price p {
  font-weight: bold;
  margin-left: 15px;
}
